@import "src/styles/variables";

.button {
  background-color: $primary-color;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  &.info {
    background-color: #FFEC94;
    color: #1B4739;
  }

  &.danger {
    background-color: #2684FF !important;
  }
}


