@import "src/styles/variables";
@import "src/styles/loading";

.table-wrapper {
  @media (max-width: $phone) {
    overflow: scroll;
  }
}

.table {
  width: 100%;
  border-collapse: collapse;

  @media (max-width: $phone) {
    overflow: $desktop;
  }

  th {
    text-transform: capitalize;
    padding: 12px 8px;
    background-color: $primary-color;
    color: $white-color;
    border: 1px solid #ddd;
    text-align: center;
  }

  tr:hover {
    background-color: #ddd;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  tbody {
    tr {
      td {
        padding: 8px;
      }
    }
  }
}

.right {
  text-align: right;
}

.content-center {
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: center;
  align-items: center;
  min-height: 20px;
}

.actions {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.loading {
  @include loading
}
