@import "variables";
@import "src/components/button/Button";

form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (max-width: $phone){
   gap: 0;
  }
}

input[type=text],  input[type=time], select {
  width: 100%;
  padding: 12px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;

  &:focus {
    border: 2px solid #2684FF;
  }

  &:focus-visible {
    outline: none;
  }

  @media (max-width: $phone){
    //padding: 12px;
  }
}

button[type=submit] {
  width: 100%;
  @extend .button;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.react-datepicker-wrapper {
  width: 100%;
}


